{{block "index" .}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Juan P Echeverry Portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Juan P Echeverry</h1>
        <p>Hello! Welcome to my little corner in the internet</p>
        <p>Find me at:</p>
        <ul>
            <li><a href="https://github.com/jpecheverryp" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/jpecheverryp/" target="_blank">LinkedIn</a></li>
        </ul>
        <h2>Projects</h2>
        <h3>To-Do App</h3>
        <p>The purpose of this app is to just have something deployed while I create a more interesting project</p>
        <ul>
            <li><a href="/">Repo</a></li>
            <li><a href="/">Site</a></li>
        </ul>
    </body>
</html>
{{end}}
