package partial

templ Nav() {
	<nav>
		<ul style="font-weight: bold;">
			<li><a href="/">Juan P Echeverry</a></li>
		</ul>
		<ul style="font-weight: bold;">
			<li>
				<a href="https://github.com/jpecheverryp/jpechdev" target="_blank">
					<i class="fa-brands fa-github"></i>
					Source
				</a>
			</li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
}
