{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Juan P Echeverry Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css">
</head>

<body class="container">
    <nav>
        <ul style="font-weight: bold;">
            <li><a href="/">Juan P Echeverry<a /></li>
        </ul>
        <ul style="font-weight: bold;">
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <main>
        {{template "page" .}}
    </main>
    <footer>
        <p style="text-align: center; display: block;">&copy; 2025 / Juan P Echeverry</p>
        <a style="text-align: center; display: block;" href="https://github.com/jpecheverryp/jpechdev">View
            source</a>
    </footer>
</body>

</html>
{{end}}
