{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Juan P Echeverry Portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body class="container">
    <main>
        {{template "main" .}}
    </main>
</body>
<footer>
    <p>This is an <a href="https://github.com/jpecheverryp/jpechdev">Open Source</a> Portfolio</p>
</footer>

</html>
{{end}}
