{{define "page"}}
<section>
    <h2>Contact</h2>
    <p>If you'd like to get in touch, you can reach me using the following methods.</p>
    <hgroup>
        <h3>Email</h3>
        <a href="mailto:jpecheverryp@gmail.com">jpecheverryp@gmail.com</a>
    </hgroup>
    <hgroup>
        <h3>GitHub</h3>
        <a href="https://github.com/jpecheverryp" target="_blank">git/jpecheverryp</a>
    </hgroup>
    <hgroup>
        <h3>LinkedIn</h3>
        <a href="https://www.linkedin.com/in/jpechdev/" target="_blank">in/jpechdev</a>
    </hgroup>
</section>
{{end}}
