{{define "page"}}
<section>
    <h1>Contact</h1>
    <p>If you'd like to get in touch, you can reach me using the following methods.</p>
    <hgroup>
        <h2>Email</h2>
        <a href="mailto:jpecheverryp@gmail.com">jpecheverryp@gmail.com</a>
    </hgroup>
    <hgroup>
        <h2>GitHub</h2>
        <a href="https://github.com/jpecheverryp" target="_blank">git/jpecheverryp</a>
    </hgroup>
    <hgroup>
        <h2>LinkedIn</h2>
        <a href="https://www.linkedin.com/in/jpechdev/" target="_blank">in/jpechdev</a>
    </hgroup>
</section>
{{end}}
