{{define "main"}}
<section>
    <hgroup>
        <h1>Juan P Echeverry</h1>
        <p>Welcome to my little corner on the internet!</p>
    </hgroup>
</section>

<section>
    <h2>Find me:</h2>
    <ul>
        <li><a href="https://github.com/jpecheverryp" target="_blank">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/jpechdev/" target="_blank">LinkedIn</a></li>
    </ul>
</section>

<section id="projects">
    <h2>Dev Projects</h2>

    <article>
        <hgroup>
            <h3>Todo App</h3>
            <p>To do application made with Golang and HTMX</p>
        </hgroup>
        <nav>
            <ul>
                <li><a href="https://github.com/jpecheverryp/todojpechdev" target="_blank">GitHub Repo</a></li>
                <li><a href="https://todo.jpech.dev/" target="_blank">Live Site</a></li>
            </ul>
        </nav>
        <img src="static/images/todoapp-screen.png" alt="Todo app desktop view">
    </article>

</section>
{{end}}
