package page

import "jpech.dev/views/layout"

templ Contact() {
@layout.Base() {
<section>
    <h1>Contact</h1>
    <p>If you'd like to get in touch, you can reach me using the following methods.</p>
    <hgroup>
        <h2><i class="fa-solid fa-envelope"></i> Email</h2>
        <a href="mailto:jpecheverryp@gmail.com">jpecheverryp@gmail.com</a>
    </hgroup>
    <hgroup>
        <h2><i class="fa-brands fa-github"></i> GitHub</h2>
        <a href="/github" target="_blank">git/jpecheverryp</a>
    </hgroup>
    <hgroup>
        <h2><i class="fa-brands fa-linkedin"></i> LinkedIn</h2>
        <a href="/linkedin" target="_blank">in/jpechdev</a>
    </hgroup>
</section>
}
}
